#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.dropdown{
  position: relative;
}

.dropdown-menu{
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
}

.dropdown:hover .dropdown-menu{
  display: block;
}